/*UNIVERSALS*/
@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:900|Raleway:400,700');

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.lobster-text {
  font-family: 'Lobster', cursive;
}

.orange-text {
  color: #F8512F;
}

.white-text {
  color: #FFFFFF;
  font-size: 18px;
}

.raleway-text {
  font-family: 'Raleway', sans-serif;
}
/*NAVBAR*/
.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
background-color: rgba(0, 0, 0, .5);
color: #fff;
}

.navbar-default .navbar-nav>li>a {
color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #D34326;
  background-color: rgba(0, 0, 0, .15);
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
}

/*CAROUSEL SECTION*/
.item {
  height: 450px;
  background-position: center;
  background-size: cover;
}

#wood-background {
  background-image: url('../img/wood-2.jpg');
  padding-top: 9%;
}

#seating-background {
  background-image: url('../img/restaurant-2.jpg');
}

#farm-background {
  background-image: url('../img/farm-2.jpg');
}

#main-logo {
  width: 250px;
}

.carousel-caption {
  padding-bottom: 110px;
}

.carousel-caption h3 {
  font-size: 36px;
}

.carousel-caption p {
  font-size: 18px;
}

.btn-default {
  color: #fff;
  background-color: #D34326;
  border: none;
}

.btn-default:hover {
  background-color: #D34326;

}

/*OUR STORY*/
#our-story {
  margin-top: 75px;
}

#our-story h1.lobster-text {
  text-shadow: 2px 2px #b7b7b7;
  font-size: 4.5em;
}

#year-text {
  position: absolute;
  font-size: 10em;
  color: rgba(0, 0, 0, .08);
  z-index: 0;
  font-family: 'Playfair Display', serif;
}

/*THE BEE*/
#review {
  background-image: url('../img/food_review.jpg');
  height: 500px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 150px;
}

#review-background {
  background-color: rgba(0, 0, 0, .5);
  padding: 5px 0px;
  margin-top: 150px;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
  border-radius: 5px;
}

#review-background h3 {
  font-size: 50px;
  text-shadow: 1px 1px #000000;
}

/*MENU*/
#menu {
  background-image: url('../img/black_linen.png');
  height: 660px;
  background-position: center;
  background-size: contain;
}

#menu h3.lobster-text {
  color: #FFFFFF;
  font-size: 64px;
  margin-top: 50px;
}

#menu a {
  color: #F8512F;
  font-size: 11px;
}

.food-item {
  background-color: white;
}

.food-item p {
  font-size: 12px;
}

.img-thumbnail {
margin-top: 15px;
margin-bottom: -10px;
margin-left: 5px;
}

#menu li {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.tab-content p {
  padding-bottom: 15px;
}

#appetizers h3 {
  font-size: 1.5em;
}

.nav-tabs>li.active>a:hover,  {
  background-color: rgba(0, 0, 0, .25)
}

/*CONTACT*/
#contact-section {
  background-color: #F8512F;
  height: 550px;
}

form {
  background-color: #FF6633;
  width: 300px;
  padding: 10px;
  margin-top: 34px;
}

.form-group {
  font-size: 13px;
}

.form-group input {
  height: 20px;
}

input {
  height: 5px;
}

#contact-section h1 {
  color: white;
}

#contact-section p {
  color: white;
}

#contact-section label {
  color: white;
}

form button {
  margin-left: 80px;
}
